{{ define "main" }}
  <div class="bucket-list">
    {{ range $index, $item := .Site.Data.list }}
      {{ $randomChecked := shuffle (seq 1 4) | first 1 }}
      {{ $randomUnchecked := shuffle (seq 1 4) | first 1 }}

      <!-- Add .checked class conditionally -->
      <div class="list-item {{ if $item.checked }}checked{{ end }}"> <!-- Updated line -->
        <img 
          src="/svg/checkboxes/{{ if $item.checked }}checked{{ index $randomChecked 0 }}{{ else }}unchecked{{ index $randomUnchecked 0 }}{{ end }}.svg" 
          class="checkbox" 
          alt="Checkbox"
        >
        <span class="padding-after-checkbox"></span>
        <span class="text-number">
          {{ printf "%02d." $index }}
        </span>
        <span class="padding-after-number"></span>

        <!-- Optional: Make text clickable using the link field -->
        <a href="{{ $item.link }}" class="item-text">{{ $item.text }}</a> <!-- Updated line -->
      </div>
    {{ end }}
  </div>
{{ end }}

