{{ define "main" }}
  <div class="bucket-list">
    {{ range $index, $item := .Site.Data.list }}
      <div class="list-item">
        <!-- Checkbox SVG -->
        <img 
          src="/svg/checkboxes/{{ if $item.checked }}checked1{{ else }}unchecked1{{ end }}.svg" 
          class="checkbox" 
          alt="Checkbox"
        >

        <!-- Padding After Checkbox -->
        <span class="padding-after-checkbox"></span>

        <!-- Text Number (00., 01., 02., ..., 99.) -->
        <span class="text-number">
          {{ printf "%02d." $index }}
        </span>

        <!-- Padding After Text Number -->
        <span class="padding-after-number"></span>

        <!-- Handwritten Text -->
        <span class="item-text">{{ $item.text }}</span>
      </div>
    {{ end }}
  </div>
{{ end }}
